<div class="baoban-welcome">
	<section class="cont-item" id="section0">
		<div class="banner">
			<ul>
			<% _.each(adimgs,function(item,index){%>
				<li style="background-image: url('<%=item%>');">
					<div class="inner">
						<h1></h1>
						<p></p>
					</div>
				</li>
				<%})%>
				<li style="background-image: url('images/background-1.png');">
					<div class="inner">
						<h1>自动化租赁交易平台</h1>
						<p>BOSS BUTLER</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="search-zone szone1"></div>
	</section>
	<section class="cont-item" id="section1">
		<div class="eight-grid">
			<div>
				<div>
				<% _.each(imgs,function(item,index){
					var img = index%2 == 0?item.PublicityImg[0].img1:item.PublicityImg[0].img5;%>
					<div class="bb-value" url="<%=item.PublicityUrl%>" style="background-image: url('<%=img%>');"> </div>
				<%})%>
				</div>
				<div>
				<% _.each(imgs,function(item,index){
					var img = index%2!=0?item.PublicityImg[0].img1:item.PublicityImg[0].img5;%>
					<div class="bb-value"  url="<%=item.PublicityUrl%>" style="background-image: url('<%=img%>');"> </div>
				<%})%>
				</div>
			</div>
		</div>
		<div class="search-zone szone2"></div>
	</section>
	<section class="cont-item news-item" id="section2">
		<div class="news-list">
			<div>
			<% _.each(news,function(item,index){%>
					<div class="newslist-item" url="<%=item.url%>" style="background-image: url('<%=item.img%>');">
				</div> 
			<%})%>
			</div>
		</div>
		<div class="cont-footer"><div class="footer"></div></div>
	</section>
</div>