<div class="check-view">
	<ul class="data-ul">
		<li style="border-top:2px solid #6fd9b2">
			<span>接口定义数据</span>
			<div class="data-area interface-data">
					<pre><%=data%></pre>
			</div>
		</li>
		<li  style="border-top:2px solid #a4c6ed;margin:0 100px">
			<span>sever数据</span>
			<div class="data-area server-data" contenteditable="true">
			</div>
		</li>
		<li  style="border-top:2px solid #fcd1b4">
			<span>比对结果</span>
			<div class="data-area diff-data"><pre></pre></div>
		</li>
	</ul>
	<div class="btns" style="margin-top:30px">
		<span class="btn btn-blue diff-btn">对比</span>
		<span class="btn btn-grey cancle-diff-btn">取消</span>
	</div>
</div>