<div class="content"> 
 <div class="content-title"> APIBOX </div>
 <div class="content-subtitle"> 简洁，直观，强悍的API管理工具 </div>
 <div class="api-count">
  <span class="api-count-logo"></span>
  <span class="api-count-content"><%=count%></span> 个接口数据
 </div> 
</div> 
<div class="indexFoot">
<div class="foot-content"> 
 <div> 
  <div class="foot-content-logo1"></div> 
  <div class="foot-content-title"> API记录 </div> 
  <div class="foot-content-subtitle"> API记录描述API记录描述API记录描述 </div>
  <div class="foot-content-subtitle"> API记录描述API记录描述 </div>
 </div> 
 <div> 
  <div class="foot-content-logo2"></div> 
  <div class="foot-content-title"> 后台数据校验 </div> 
  <div class="foot-content-subtitle"> API记录描述API记录描述API记录描述 </div>
  <div class="foot-content-subtitle"> API记录描述API记录描述 </div>
 </div> 
 <div> 
  <div class="foot-content-logo3"></div> 
  <div class="foot-content-title"> 前台数据mock </div>
  <div class="foot-content-subtitle"> API记录描述API记录描述API记录描述 </div>
  <div class="foot-content-subtitle"> API记录描述API记录描述 </div>
 </div> 
</div> 
</div>