<div class="content"> 
 <div class="content-title"> APIBOX </div>
 <div class="content-subtitle"> 简洁，直观，强悍的API管理工具 </div>
 <div class="api-count">
  <span class="api-count-logo"></span>
  <span class="api-count-content"><%=count%></span> <span>个接口数据</span>
 </div> 
</div> 
<div class="indexFoot">
<div class="foot-content"> 
 <div> 
  <div class="foot-content-logo1"></div> 
  <div class="foot-content-title"> API记录 </div> 
  <div class="foot-content-subtitle"> API记录,方便迭代开发 </div>
  <div class="foot-content-subtitle"> 便捷高效的API接口记录方式 </div>
 </div> 
 <div> 
  <div class="foot-content-logo2"></div> 
  <div class="foot-content-title"> 后台数据校验 </div> 
  <div class="foot-content-subtitle"> 一键请求后台数据 </div>
  <div class="foot-content-subtitle"> 对后台数据进行多维度对比 </div>
 </div> 
 <div> 
  <div class="foot-content-logo3"></div> 
  <div class="foot-content-title"> 前台数据mock </div>
  <div class="foot-content-subtitle"> 模拟前台所需数据 </div>
  <div class="foot-content-subtitle"> 解决迭代初期数据模拟繁杂工作 </div>
 </div> 
</div> 
</div>