<div class="box-mian">
	<div class="box-header">我是header</div>
	<div class="box-content">
		<div class="create-api">
			<div class="c-step">
				<div>
					<span>接口名称</span>
					<input type="text" placeholder="请输入接口名称"/>
				</div>
				<div>
					<span>项目</span>
					<input type="text" class="project" placeholder="请选择项目"  readonly="readonly"/>
					<span class="icons-down"></span>
					<div class="project-select"></div>
				</div>
				<div>
					<span style="float: left; margin:10px 5px 0 0;">接口描述</span>
					<textarea  placeholder="请输入接口描述"></textarea>
				</div>
				<div>
					<div class="btns">
						<span class="btn btn-blue">下一步</span>
						<span class="btn btn-grey">取消</span>
					</div>
				</div>
			</div>
		<div>
	</div>
</div>