<div class="condition">
 <ul class="utility-unit">
 	<li class="regional-plate">
 		<em>区域板块</em>
 		<span class="none"><input type="radio"/>不限</span>
 		<span>黄埔</span>
 		<span>浦东</span>
 		<div class="regional-plate-detail" id="plate">
 			<span class="none"><input type="radio" tag="0" />不限</span>
 			<span><input type="radio" tag="1" />5A甲级</span>
 			<span><input type="radio" tag="2" />5A甲级</span>	
 			<span><input type="radio" tag="3" />5A甲级</span>	
 			<span><input type="radio" tag="4" />5A甲级</span>	
 			<span><input type="radio" tag="5" />5A甲级</span>	
 			<span><input type="radio" tag="6" />5A甲级</span>	
 			<span><input type="radio" tag="7" />5A甲级</span>
 			<input type="button" class="sure" value="确定" />
 		</div>
 	</li>
 	<li class="subway">
 		<em>轨道交通</em>
 		<span class="none"><input type="radio" tag="0" />不限</span>
 		<span>1号线</span>
 		<div class="subway-detail"  id="subway">
 			<span class="none"><input type="radio" tag="0" />不限</span>
 			<span><input type="radio" tag="0" />5A甲级</span>
 			<span><input type="radio" tag="0" />5A甲级</span>	
 			<span><input type="radio" tag="0" />5A甲级</span>	
 			<span><input type="radio" tag="0" />5A甲级</span>	
 			<span><input type="radio" tag="0" />5A甲级</span>	
 			<span><input type="radio" tag="0" />5A甲级</span>	
 			<span><input type="radio" tag="0" />5A甲级</span>
 			<input type="button" class="sure" value="确定" />
 		</div>
 	</li>
 	<li class="utility-type"  id="type">
 		<em>物业类型</em>
 		<span><input type="radio" tag="0" />不限</span>
 		<span><input type="radio" tag="1"/>5A甲级</span>
 		<span><input type="radio" tag="2"/>标准办公楼</span>
 		<span><input type="radio" tag="3"/>商住楼</span>
 		<span><input type="radio" tag="4"/>创业园区</span>
 		<span><input type="radio" tag="5"/>产业园区</span>
 	</li>
 	<li class="rent-price">
 		<em>租金</em>
 		<span><em class="price-item" id="m2-day">m2/天</em>
 			<em class="price-item  price-not-selected" id="yuan-month">元/月</em>
 		</span>
 		<div class="price-zone price-day" id="price-day">
			<span><input type="radio" tag="0" />不限</span>
			<span><input type="radio" tag="1" />&lt;1元</span>
			<span><input type="radio" tag="2" />1-2元</span>
			<span><input type="radio" tag="3" />2-3元</span>
			<span><input type="radio" tag="4" />3-4元</span>
			<span><input type="radio" tag="5" />4-5元</span>
			<span><input type="radio" tag="6" />5-8元</span>
			<span><input type="radio" tag="7" />8-12元</span>
			<span><input type="radio" tag="8" />12-15元</span>
			<span><input type="radio" tag="9" />15-20元</span>
			<span><input type="radio" tag="10" />&gt;20元</span>
 		</div>
 		<div  class="price-zone price-month hidden" id="price-month">
			<span><input type="radio" tag="0" />不限</span>
			<span><input type="radio" tag="1" />&lt;2万</span>
			<span><input type="radio" tag="2" />2-5万</span>
			<span><input type="radio" tag="3" />5-5万</span>
			<span><input type="radio" tag="4" />8-12万</span>
			<span><input type="radio" tag="5" />12-18万</span>
			<span><input type="radio" tag="6" />18-25万</span>
			<span><input type="radio" tag="7" />&gt;25万</span>
 		</div>
 	</li>
 	<li class="acreage" id="acreage">
 		<em>面积m2</em>
 		<span><input type="radio" tag="0" />不限</span>
 		<span><input type="radio" tag="1" />&lt;80</span>
 		<span><input type="radio" tag="2" />80-150</span>
 		<span><input type="radio" tag="3" />150-300</span>
 		<span><input type="radio" tag="4" />300-500</span>
 		<span><input type="radio" tag="5" />500-800</span>
 		<span><input type="radio" tag="6" />800-1500</span>
 		<span><input type="radio" tag="7" />&gt;1500</span>
 	</li>
 	<div class="condition-detail">
 		<div class="cdt-details">
 			<span>筛选条件:</span>
 		</div>
 		<input type="button" class="details-sure"/>
 	</div>
 </ul>
<div class="condition-sort">
	<span class="distance"></span>
	<span class="starttime"></span>
	<span class="price"></span>
	<span class="attention"></span>
</div>
</div>
