<div class="detail-house">
	<ul class="detail-house-list">
		<li>
			<div class="detail">
				<img src="https://drscdn.500px.org/photo/53685060/m%3D1170/b41577c95cffc03030736f54d7ca07b8">
				<section>
						<div class="detail-up">
								<span class="HouseResourcesName">中心城</span>
								<span class="company up-item">中信集团</span>
								<span class="y-line up-item"></span>
								<span class="address up-item">徐汇区浦北路7号</span>
								<span class="y-line up-item"></span>
								<span class="plate up-item">南站板块</span>
								<span class="y-line up-item"></span>
								<span class="distric up-item">徐汇区</span>
						</div>
						<div class="detail-down">
							<span class="price-item">
								<em>可租赁单价区间：</em>
								<em class="font20">5.4-6元/m<sup>2</sup>/天</em>
							</span>
							<span class="y-line"></span>
							<span class="area-item">
								<em>可租赁面积区间：</em>
								<em class="font20">200-2000m<sup>2</sup></em>
							</span>
							<br>
							<span class="can-see font12">查看房源<em>88</em>套</span>
							<span class="see-times font12">浏览次数<em>88</em></span>
						</div>
				</section>
			</div>
		</li>
		<li>
			<div class="detail">
				<img src="https://drscdn.500px.org/photo/53685060/m%3D1170/b41577c95cffc03030736f54d7ca07b8">
				<section>
						<div class="detail-up">
								<span class="HouseResourcesName">中心城</span>
								<span class="company up-item">中信集团</span>
								<span class="y-line up-item"></span>
								<span class="address up-item">徐汇区浦北路7号</span>
								<span class="y-line up-item"></span>
								<span class="plate up-item">南站板块</span>
								<span class="y-line up-item"></span>
								<span class="distric up-item">徐汇区</span>
						</div>
						<div class="detail-down">
							<span class="price-item">
								<em>可租赁单价区间：</em>
								<em class="font20">5.4-6元/m<sup>2</sup>/天</em>
							</span>
							<span class="y-line"></span>
							<span class="area-item">
								<em>可租赁面积区间：</em>
								<em class="font20">200-2000m<sup>2</sup></em>
							</span>
							<br>
							<span class="can-see font12">查看房源<em>88</em>套</span>
							<span class="see-times font12">浏览次数<em>88</em></span>
						</div>
				</section>
			</div>
		</li>
	</ul>
	<div style="text-align:center">
	    <ul class="pagination" id="pagination"></ul>
	</div>
</div>