<div class="baoban-footer">
	<ul>
		<li>
			<div class="div1">
				<span class="footer-txt">版权所有2015上海大致上投资管理有限公司 保留一切权利</span>
				<span>沪ICP备15042721号</span>
			</div>
		</li>
		<li>
			<div>
				<span class="shuline1"></span>
				<div class="phone">		
					<span class="phone-icon"></span>
					<span>4008-591-388</span>
				</div>		
				<span class="shuline2"></span>			
			</div>
		</li>
		<li>		
			<div class="div3">
				<span class="weixin-icon"></span>
				<div class="app-download">
					<div class="iphone phone-os">
						<span class="iphone-icon"></span>
						<span>iphone 版下载</span>
					</div>
					<div class="android phone-os">
						<span class="android-icon"></span>
						<span>android 版下载</span>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>