	<ul class="detail-nav">
		<li class="mincatalog">
			<span></span>
		</li>
		<li class="baoban-logo">
			<span></span>
		</li>
		<li class="baoban-info">
			<span class="location">上海</span>
			<div class="enroll">
				<span class="register-btn"><em>注册</em></span>
				<span class="login-btn"><em>登陆</em></span>
			</div>
		</li>
		<li class="baoban-center">
			<div>
				<span><em class="tenant-center-list">租户中心</em></span>
				<span><em class="owner-center-list">业主中心</em></span>
			</div>
		</li>
	</ul>