<div class="header">
</div>
<div class="housing-contrast-content">

<div class="contrast-page-line">
</div>	

<div class="contrast-navigation-bar">
	<a class="house-infor">房源信息</a>
	<br/>
	<a class="price-infor">租赁价格</a>
	<br/>
	<a class="property-infor">物业信息</a>
	<br/>
	<a class="device-infor">设施设备</a>
</div>	


<div class="contrast-table-location">
<table id="contrast-table">
	<tr class="middle-ban">
        <td colspan="5"><a id="house-infor">房源信息</a></td>	
	<tr>
		<th class="contrast-table-head" rowspan="3">
			<div>
				<input type="button" value="高亮不同信息" />
				<br/>
				<input type="button" value="隐藏相同信息" />
				<br/>
				<input type="button" value="导出excel" />
			</div>
		</th>

		<td>
			<div><img src="../../images/default-contrast-two.jpg" alt="" height="120" width="160"></div>
		</td>
		<td>
			<div><img src="../../images/default-contrast-two.jpg" alt="" height="120" width="160"></div>
		</td>
		<td>
			<div><img src="../../images/default-contrast-two.jpg" alt="" height="120" width="160"></div>
		</td>
		<td>
			<div><img src="../../images/default-contrast-two.jpg" alt="" height="120" width="160"></div>
		</td>	
	</tr>
	
	<tr class="house-choose"> 
	      <td>
	      	<div class="select-location-one">
	      		<select name="dept" style="width: 150px;" id="dept" class="dept_select"> 
    				<option value="部门1">部门1</option>
    				<option value="部门2">部门2</option>
    				<option value="部门3">部门3</option>
    				<option value="部门4">部门4</option>
    				<option value="部门5">部门5</option>
				</select>
	      	</div>	
	      	<br>
	      	<div class="select-location-one">
	      		<select name="dept" style="width: 150px;" id="dept" class="dept_select"> 
    				<option value="部门1">部门1</option>
    				<option value="部门2">部门2</option>
    				<option value="部门3">部门3</option>
    				<option value="部门4">部门4</option>
    				<option value="部门5">部门5</option>
				</select>
	      	</div>	
	      </td>

	      <td>
	      	<div class="select-location-two">
	      		<select name="dept" style="width: 150px;" id="dept" class="dept_select"> 
    				<option value="部门1">部门1</option>
    				<option value="部门2">部门2</option>
    				<option value="部门3">部门3</option>
    				<option value="部门4">部门4</option>
    				<option value="部门5">部门5</option>
				</select>
	      	</div>	
	      	<br>
	      	<div class="select-location-two">
	      		<select name="dept" style="width: 150px;" id="dept" class="dept_select"> 
    				<option value="部门1">部门1</option>
    				<option value="部门2">部门2</option>
    				<option value="部门3">部门3</option>
    				<option value="部门4">部门4</option>
    				<option value="部门5">部门5</option>
				</select>
	      	</div>	
	      </td> 

	      <td>
	      	<div class="select-location-three">
	      		<select name="dept" style="width: 150px;" id="dept" class="dept_select"> 
    				<option value="部门1">部门1</option>
    				<option value="部门2">部门2</option>
    				<option value="部门3">部门3</option>
    				<option value="部门4">部门4</option>
    				<option value="部门5">部门5</option>
				</select>
	      	</div>	
	      	<br>
	      	<div class="select-location-three">
	      		<select name="dept" style="width: 150px;" id="dept" class="dept_select"> 
    				<option value="部门1">部门1</option>
    				<option value="部门2">部门2</option>
    				<option value="部门3">部门3</option>
    				<option value="部门4">部门4</option>
    				<option value="部门5">部门5</option>
				</select>
	      	</div>	
	      </td> 

	      <td>
	      	<div class="select-location-four">
	      		<select name="dept" style="width: 150px;" id="dept" class="dept_select"> 
    				<option value="部门1">部门1</option>
    				<option value="部门2">部门2</option>
    				<option value="部门3">部门3</option>
    				<option value="部门4">部门4</option>
    				<option value="部门5">部门5</option>
				</select>
	      	</div>	
	      	<br>
	      	<div class="select-location-four">
	      		<select name="dept" style="width: 150px;" id="dept" class="dept_select"> 
    				<option value="部门1">部门1</option>
    				<option value="部门2">部门2</option>
    				<option value="部门3">部门3</option>
    				<option value="部门4">部门4</option>
    				<option value="部门5">部门5</option>
				</select>
	      	</div>	
	    </td>  
	</tr>

	<tr class="delete-area">
		<td>
		<input type="button" value="删除" />
		</td>
		<td>
		<input type="button" value="删除" />
		</td>
		<td>
		<input type="button" value="删除" />
		</td>
		<td>
		<input type="button" value="删除" />
		</td>
	</tr>	
	<tr id="tr-property-name">
		<td class="added">物业全称</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr id="tr-floor-room-number">
		<td class="added">楼层室号</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr id="tr-begin-rent-number">
		<td class="added">起租日期</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr id="tr-right-people">
		<td class="added">产权人</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr id="tr-right-type">
		<td class="added">产权人属性</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr id="tr-rent-people">
		<td class="added">出租人</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr id="tr-rent-type">
		<td class="added">出租人属性</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr id="tr-bulid-area">
		<td class="added">建筑面积(m^2)</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>	
	<tr id="tr-max-position">
		<td class="added">最多容纳工位</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="middle-ban">
        <td colspan="5"><a id="price-infor">租赁价格</a></td>	
    </tr>
	<tr id="tr-each-money">
		<td class="added">租金单价</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr id="tr-pay-way">
		<td class="added">租金付款方式</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr id="tr-house-rate">
		<td class="added">得房率%</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td class="added">租赁年限</td>
		<td>
			<select style="width: 150px;" class="lease-term"> 
    				<option value="1">1</option>
    				<option value="2">2</option>
    				<option value="3">3</option>
    				<option value="4">4</option>
    				<option value="5">5</option>
    				<option value="6">6</option>
    				<option value="7">7</option>
    				<option value="8">8</option>
    				<option value="9">9</option>
    				<option value="10">10</option>
    				<option value="11">11</option>
    				<option value="12">12</option>
    				<option value="13">13</option>
    				<option value="14">14</option>
    				<option value="15">15</option>
    				<option value="16">16</option>
    				<option value="17">17</option>
    				<option value="18">18</option>
    				<option value="19">19</option>
    				<option value="20">20</option>
			</select>
		</td>
		<td>
		<select style="width: 150px;" class="lease-term"> 
    				<option value="1">1</option>
    				<option value="2">2</option>
    				<option value="3">3</option>
    				<option value="4">4</option>
    				<option value="5">5</option>
    				<option value="6">6</option>
    				<option value="7">7</option>
    				<option value="8">8</option>
    				<option value="9">9</option>
    				<option value="10">10</option>
    				<option value="11">11</option>
    				<option value="12">12</option>
    				<option value="13">13</option>
    				<option value="14">14</option>
    				<option value="15">15</option>
    				<option value="16">16</option>
    				<option value="17">17</option>
    				<option value="18">18</option>
    				<option value="19">19</option>
    				<option value="20">20</option>
		</select></td>
		<td>
		<select style="width: 150px;" class="lease-term"> 
    				<option value="1">1</option>
    				<option value="2">2</option>
    				<option value="3">3</option>
    				<option value="4">4</option>
    				<option value="5">5</option>
    				<option value="6">6</option>
    				<option value="7">7</option>
    				<option value="8">8</option>
    				<option value="9">9</option>
    				<option value="10">10</option>
    				<option value="11">11</option>
    				<option value="12">12</option>
    				<option value="13">13</option>
    				<option value="14">14</option>
    				<option value="15">15</option>
    				<option value="16">16</option>
    				<option value="17">17</option>
    				<option value="18">18</option>
    				<option value="19">19</option>
    				<option value="20">20</option>
		</select></td>
		<td>
		<select style="width: 150px;" class="lease-term"> 
    				<option value="1">1</option>
    				<option value="2">2</option>
    				<option value="3">3</option>
    				<option value="4">4</option>
    				<option value="5">5</option>
    				<option value="6">6</option>
    				<option value="7">7</option>
    				<option value="8">8</option>
    				<option value="9">9</option>
    				<option value="10">10</option>
    				<option value="11">11</option>
    				<option value="12">12</option>
    				<option value="13">13</option>
    				<option value="14">14</option>
    				<option value="15">15</option>
    				<option value="16">16</option>
    				<option value="17">17</option>
    				<option value="18">18</option>
    				<option value="19">19</option>
    				<option value="20">20</option>
			</select>
		</td>
	</tr>
	<tr id="tr-lease-cost">
		<td class="added">租赁期成本(元)含物业管理费</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr id="tr-deposit">
		<td class="added">押金(元)含物业管理费</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td class="contrast-table-roperty" rowspan="1">
			<strong>物业图片</strong>
		</td>

		<td>
			<div><img src="../../images/default-contrast-two.jpg" alt="" height="120" width="160"></div>
		</td>
		<td>
			<div><img src="../../images/default-contrast-two.jpg" alt="" height="120" width="160"></div>
		</td>
		<td>
			<div><img src="../../images/default-contrast-two.jpg" alt="" height="120" width="160"></div>
		</td>
		<td>
			<div><img src="../../images/default-contrast-two.jpg" alt="" height="120" width="160"></div>
		</td>	
	</tr>


	<tr class="middle-ban">
        <td colspan="5"><a name="property-infor">物业信息</a></td>	
    </tr>
	<tr id="tr-developers-name">
		<td class="added">开发商</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr id="tr-total-area">
		<td class="added">总建筑面积</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr id="tr-floor-number">
		<td class="added">层数</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr id="tr-standard-area">
		<td class="added">标准层面积</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr id="tr-standard-heights">
		<td class="added">标准层净高</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr id="tr-build-time">
		<td class="added">施工时间</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr id="tr-property-level">
		<td class="added">物业等级</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr id="tr-property-name">
		<td class="added">物业管理</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>

    <tr class="middle-ban">
        <td colspan="5"><a name="device-infor">设施设备</a></td>	
    </tr>   
	<tr id="tr-lift-brand">
		<td class="added">电梯品牌</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr id="tr-lift-number">
		<td class="added">电梯数量</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr id="tr-air-form">
		<td class="added">空调形式</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr id="tr-paking-lot">
		<td class="added">车位</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>


</table>
</div>	






</div>
<div class="footer"></div>