<div class="centre-page-title">
    <p class="all-page-title">基本信息</p>
	<br/>
	<hr></hr>
	<br/>
	<ul>
		<li>注册邮箱
			<span id="Email">12345678@123.com</span>
            <span>更换邮箱</span>
		</li>
		<br/>
		<li>注册手机号
			<span id="Mobilephone">138188888888</span>
            <span>更换手机号</span><!--Register注册用户表-->
		</li>
	</ul>
    <p class="all-page-title">常用联系人</p>
	<br/>
	<hr></hr>
	<br/>
	<form>
		姓名：<input type="text" name="姓名" id="linkman-name" />
		职务：<input type="text" name="职务" id="linkman-job" />
		手机：<input type="text" name="手机" id="linkman-phone" />
		<br/>
		<br/>
        状态：
		<input type="radio" name="status" checked="checked" value="true" /> 启用
		<input type="radio" name="status" value="false" /> 禁用
		<br/>
		<br/>
		<input type="button" value="保存" class="save-btn">
	</form>  
	<hr></hr>
	<br/>
	<table border="1" width="100%" id="basic-infor-page-table">
		<thead>
			<tr>
    			<th width="10%">联系人姓名</th>
    			<th width="8%">职务</th>
    			<th width="18%">手机号</th>
    			<th width="20%">状态</th>
    			<th width="5%">编辑</th>
    		</tr>
        </thead>
        <tfoot></tfoot>
        <tbody>
    	</tbody>
    </table>
    <div class="change-page">
    </div>
</div>    
