<div class="centre-page-title">
	<p class="all-page-title">常用地址</p>
	<br/>
	<hr></hr>
	<br/>
	<form>
		收件人<input type="text" name="addressee" size="20" />
		详细地址<input type="text" name="detailed-address" size="30" />
		<span><input type="button" value="查找"><span>
		<span><input type="button" value="新增"><span>		
	</form>	
	<br/><hr></hr><br/>
	<form>
		收件人<input type="text" name="addressee" class="address-people" size="20" />
		省份<select name="province" class="address-province">
			<option value="beijing">北京</option>
			<option value="shanghai">上海</option>
			<option value="guangzhou">广州</option>
			</select>
		城市<select name="city" class="address-city">
			<option value="beijing">北京</option>
			<option value="shanghai">上海</option>
			<option value="guangzhou">广州</option>
			</select>
		邮编<input type="text" name="zip-code" size="10" class="address-zip-code"/>		
		<span>
			<input type="checkbox" name="default-invoice" />默认发票
		</span>
		<br/>
			详细地址<input type="text" name="detailed-address" size="60" class="address-details"/>
		<br/>
		    手机号码<input type="text" name="phone-number" size="30" class="address-phone"/>
		    联系电话形式：区号-电话-分机
		<br/>
		<input type="button" class="save-btn" value="保存">	
	</form>
	<br/>
	<hr></hr>
	<br/>
	<input type="button"  class="troggle-destroy" value="删除">
	<table border="1" width="100%" id="common-address-table">
		<thead>
			<tr>
    			<th width="10%">收件人</th>
    			<th width="7%">省份</th>
    			<th width="7%">城市</th>
    			<th width="30%">详细地址</th>
    			<th width="8%">邮编</th>
    			<th width="15%">电话</th>
    			<th width="13%">操作</th>
    		</tr>
        </thead>
        <tfoot></tfoot>
        <tbody></tbody>	
    </table>  
</div>