<div class="centre-page-title">
	<p class="all-page-title">常用发票</p>
	<br/>
	<hr></hr>
	<br/>
	<form>
		发票抬头<input type="text" name="invoice-head" size="50" />
		<span><input type="button" value="查找"><span>
		<span><input type="button" value="新增"><span>		
	</form>	
	<br/>
	<br/>
	<hr></hr>
	<br/>
	<form>
		发票抬头<input type="text" name="invoice-head" size="40" />
		税号    <input type="text" name="tax-number" size="15" />
		<span><input type="checkbox" name="default-invoice" />默认发票</span>
		<br/>
		<input type="button" value="保存">	
	</form>	
	<br/>
	<hr></hr>
	<br/>
	<input type="button" value="删除">
	<table border="1" width="100%">
		<thead>
			<tr>
    			<th width="5%">&nbsp;</th>
    			<th width="18%">发票抬头</th>
    			<th width="13%">税号</th>
    			<th width="10%">操作</th>
    		</tr>
        </thead>
        <tbody>
        	<tr>
    			<td><input type="checkbox" /></td>
    			<td>&nbsp;</td>
    			<td>&nbsp;</td>
    			<td>&nbsp;</td>
    		</tr>
    		<tr>
    			<td><input type="checkbox" /></td>
    			<td>&nbsp;</td>
    			<td>&nbsp;</td>
    			<td>&nbsp;</td>
    		</tr>
    		<tr>
    			<td><input type="checkbox" /></td>
    			<td>&nbsp;</td>
    			<td>&nbsp;</td>
    			<td>&nbsp;</td>
    		</tr>
    	</tbody>	
    </table>    
</div>