<div class="centre-page-title">
	<p class="all-page-title">我的房源车</p>
	<br/>
	<hr></hr>
	<br/>
	<table border="1" width="100%">
		<thead>
			<tr>
    			<th width="10%">房源信息</th>
    			<th width="8%">区域板块</th>
    			<th width="18%">建筑面积</th>
    			<th width="20%">得房率</th>
    			<th width="5%">租金</th>
    			<th width="10%">物管费</th>
    			<th width="8%">月租赁</th>
    			<th width="18%">起租日期</th>
    			<th width="20%">产权人属性</th>
    			<th width="5%">操作</th>
    		</tr>
        </thead>
	</table>
	<input type="button" class="contrast-btn" value="对比" />


	<div class="reservation-frame">
		<form>
		<a>默认注册人<input type="radio" name="default-registered-person" /></a>
		<br/>
		<a>预约人姓名<input type="text" name="reservation-name" size="20" /></a>
		<br/>
		<a>手机<input type="text" name="reservation-phone" size="20" /></a>
		<br/>
		<a>看房时间<input type="text" name="reservation-time" size="20" /></a>
		<br/>
		<input type="button" value="确认并发送业主" class="confirm-btn">
		</form>
	</div>
	<div class="confirmation-notice">
		<a><span>您的看房通知已发送至业主</span></a>
		<br/>
		<a><span>业主将电话或短信回复</span><a>
		<br/>
		<a><span>请注意接收</span></a>
		<br/>
		<input type="button" value="确认" class="confirm-btn">
	</div>	
</div>		