<div class="tenant-menu">
	<div class="shade-div"></div>
	<ul>
		<li><span class="menu-btn" id="tenant-center-btn">租户中心</span></li>
		<li><span class="menu-btn" id="my-resource-car-btn">我的房源车</span></li>
		<li><span class="menu-btn" id="my-reservation-btn">我的预约单</span></li>
		<li><span class="menu-btn" id="my-order-btn">我的订单</span></li>
		<li><span class="menu-btn" id="order-refund-btn">订单退款</span></li>
		<li><span class="menu-btn" id="settlement-details-btn">支付明细</span></li>
		<li><span class="menu-btn" id="evaluation-management-btn">评价管理</span></li>
		<li><span class="menu-btn" id="complaint-management-btn">投诉管理</span></li>
		<li><span class="menu-btn" id="basic-information-btn">基本信息</span></li>
		<li><span class="menu-btn" id="authentication-information-btn">认证信息</span></li>
		<li><span class="menu-btn" id="common-invoice-btn">常用发票</span></li>
		<li><span class="menu-btn" id="common-address-btn">常用地址</span></li>
		<li><span class="menu-btn" id="password-management-btn">密码管理</span></li>
		
	</ul>
</div>