<div class="centre-page-title">
	<p class="all-page-title">认证信息</p>
	<br/>
	<hr></hr>
	<br/>
	<p class="blue-prompt">1、包办网是办公物业的自主租赁交易平台，为了维护租赁双方的合法利益，保障租赁双方的交易安全，我们要求您只有通过认证才能进行交易。</p>
	<p class="blue-prompt">2、您可以根据您租赁的实际情况选择个人或企业身份，您上传的认证资料将成为您的身份标签和租赁合同的一部分，我们将严格为您保密资料</p>
	<br/>
	<p class="all-page-title">身份认证信息
		<span>状态：审核通过<input type="button" value="更改认证信息">
		</span>
	</p>

	<br/>
	<hr></hr>
	<br/>
	<form>
		用户类型：
		个人<input type="radio" name="user-type" value="individual" />
		企业<input type="radio" name="user-type" value="enterprise" />
		<br/>
		真实姓名<input type="text" name="real-name" />请输入与身份证或护照相符的真实姓名
		<br/>
		证件类型<select name="document-type">
			<option value="identity-card">身份证</option>
			<option value="passport">护照</option>
			</select>
		<br/>
		证件号码<input type="text" name="document-numeber" size="25" />
		<br/>
		证件照片<input type="text" name="document-photo" size="10" />
		<input type="button" value="上传">
		<br/>
		<p>请使用真实有效的身份证或护照按下图示例拍照，需确保证件内容及脸部清晰，上传图片支持2M以内的PNG、JPG、GIF格式；<br/>Mac OS系统请使用新版Firefox浏览器上传，也可联系云通讯客服协助上传</p>
		<p>查看示例</p>
		<input type="button" value="提交审核">	
	</form>
</div>	