<div class="owner-menu">
	<div class="shade-div"></div>
	<ul>
		<li><span class="menu-btn" id="owner-center-btn">业主中心</span></li>
		<li><span class="menu-btn" id="housing-management-btn">房源管理</span></li>
		<li><span class="menu-btn" id="lease-statistics-btn">租赁统计</span></li>
		<li><span class="menu-btn" id="reservation-management-btn">预约管理</span></li>
		<li><span class="menu-btn" id="order-management-btn">订单管理</span></li>
		<li><span class="menu-btn" id="refund-processing-btn">退款处理</span></li>
		<li><span class="menu-btn" id="settlement-details-btn">结算明细</span></li>
		<li><span class="menu-btn" id="evaluation-management-btn">评价管理</span></li>
		<li><span class="menu-btn" id="complaint-management-btn">投诉管理</span></li>
		<li><span class="menu-btn" id="template-management-btn">模版管理</span></li>
		<li><span class="menu-btn" id="contract-management-btn">合同管理</span></li>
		<li><span class="menu-btn" id="basic-information-btn">基本信息</span></li>
		<li><span class="menu-btn" id="authentication-information-btn">认证信息</span></li>
		<li><span class="menu-btn" id="password-management-btn">密码管理</span></li>
	</ul>
</div>