<div class="header">
</div>
<div class="owner-centre-content">
	<div style="margin:50px auto;width:400px;">
		<form id="J_loginForm">
			<table>
				<tr>
					<td>用户名：</td>
					<td><input type="text" name="uname" /></td>
				</tr>
				<tr>
					<td>密码：</td>
					<td><input type="password" name="pwd" /></td>
				</tr>
				<tr>
					<td>验证码：</td>
					<td><input type="text" name="kaptcha" /></td>
				</tr>
				<tr>
					<td colspan="2"><img id="J_kaptcha_jpg" />换一个</td>
				</tr>
				<tr>
					<td><a>注册新用户</a></td>
					<td><input type="button" id="J_submit" value="登录" /></td>
				</tr>
			</table>
		</form>
	</div>
</div>
<div class="footer"></div>
