.single-p{
	display: inline-block;
	background-color: #101010;
	width: 200px;
	height: 200px;
}
.data-key{
	display: block;
	min-width: 20px;
	min-height: 20px;
	margin-left: 20px;
	position: absolute;
}
.input-key,.input-value{
	display: none;
	position: absolute;
	left: 20px;
}
.key-box,.value-box{
	position: relative;
}
.value-box{
	left: 68px;
	width: 200px;
}
.data-close{
	margin-top: 20px;
}
.data-select{
	display: none;
}
.select-icon{
	display: inline-block;
	width: 15px;
	height: 10px;
	border: 1px solid red;
	background: url(../../images/select-icon.png);
	position: absolute;
	top: 5px;
	right:5px;
}
.data-list{
	width: 198px;
	border:1px solid rgb(204,204,204);
	position: absolute;
	left: 70px;
	z-index: 10;
}
.select-datalist{
	width: 198px;
	margin-left:-30px;
}