.single-p{
	display: inline-block;
	background-color: #101010;
	width: 200px;
	height: 200px;
}
.data-key{
	display: block;
	min-width: 20px;
	min-height: 20px;
	margin-left: 20px;
	position: absolute;
}
.input-key,.input-value{
	display: none;
	position: absolute;
	left: 20px;
}
.key-box,.value-box{
	position: relative;
}
.value-box{
	left: 68px;
	width: 200px;
}
.ico01,.ico02{
	display: inline-block;
	width: 20px;
	height: 20px;
	position: relative;
	left: -40px;
	background: url(../../images/ico.png) no-repeat ;
}
.ico02{
	background-position: 0 -29px;
  	left: -20px;
}
.data-close{
	margin-top: 20px;
}
.data-select{
	display: none;
}
.select-icon{
	display: inline-block;
	width: 13px;
	height: 7px;
	background: url(../../images/select-icon.png);
	position: absolute;
	top: 9px;
	right:5px;
}
.key-box{
	min-width: 100px;
}
.edit-next{
	border: 1px solid red;
	height: 20px;
	width: 100px;
}
.data-list{
	width: 198px;
	border:1px solid rgb(204,204,204);
	position: absolute;
	left: 70px;
	z-index: 10;
}
.select-datalist{
	width: 198px;
	margin-left:-30px;
}
/*-----------------------------------json------------------------------------------*/
.json-root-page input{
	width: 70px !important;
	height: 20px !important;;
}
.json-root-page .jn-name{
    display: inline-block !important;
    width: 100px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.json-root-page .type-name{
    font-family: Georgia, serif;
    color: grey;
    font-style: italic;
    cursor: default;
    line-height: 30px;
    display: inline-block !important;
    margin-left: 50px;
}
.json-root-page .jn-value{
    display: inline-block;
    margin-left: 50px;
}
.json-root-page{
	border: 1px solid #e1e1e1;
	border-radius: 6px;
}
.json-root-page-v{
    width: 100%;
    height: 100%;
    position: relative;
}
.see-json{
	position: absolute;
	bottom: 0;
	right: 0;
}
.request-json,
.respone-json{
	border: 1px  solid rgb(219, 218, 218);
	border-radius: 2px;
	display: inline-block;
	font-size: 14px;
	height: 200px;
	margin:0;
	width: 380px;
	overflow: auto;
	padding: 10px;
	width: 380px;
    resize: both;
}
.api-rsp-p, .api-req-p{
	display: none;
}
.api-rsp-b, .api-req-b{
	font-size: 14px;
    position: absolute;
    right: 94px;
}
/*--------------------------------------------zhengpengjie--------------------------------------------*/
.box-header{
	height:70px;
	border:1px solid #000;
	margin: 2px;
}
.interface-api,
.create-api{
	background-color: #fff;
	width: 1200px;
	margin: 30px auto;
	border-top:2px solid #8ab7eb;
	padding: 1px;
	font-size: 18px;
	position: relative;
	/*-----------------------------------------jiayunqiu--------------------------------------*/

}
.create-api{overflow: hidden;}
.interface-api>ul,
.c-step{
	margin: 20px auto;
	width:600px;
	padding-top: 20px;
	position: relative;
}
.interface-api>ul>li ,
.c-step>div{
	margin-bottom: 40px;
	position: relative;
}
.box-mian .border-red{
	border: 1px solid red;
}
.interface-api>ul>li>span:nth-child(1),
.c-step>div>span{
	display: inline-block;
	width: 100px;
	text-align: right;
}
.interface-api>ul>li>span:nth-child(1){
	color:#676869;
	margin-right:50px; 
}
.interface-api>ul>li>pre{
	    padding-top: 10px;
    font-size: 18px;
    font-family: arial, 黑体, sans-serif;
}
.interface-api>ul>li input,
.c-step input{
	width:390px;
	height: 36px;
	border: 1px solid #DBDADA;
	border-radius: 2px;
	padding-left: 10px;
}
.interface-api>ul>li textarea,
.c-step textarea{
	padding: 10px; 
	width: 380px;
	max-width: 380px;
	height: 100px;
	border: 1px solid #DBDADA;
	border-radius: 2px;
}
.icons-down{
	width: 20px !important;
	height: 10px;
	background: url(/images/icons.png) no-repeat -10px -20px;
	position: absolute;
    top: 16px;
    right: 105px;
}
.project-select{
	display: none;
	position: absolute;
    margin-left: 105px;
    padding: 0;
    background-color: #fff;
    width: 400px;
    z-index: 2;
    border: 1px solid #e1e1e1;
}
.mock-view  .btns,
.check-view .btns,
.c-step .btns{
	width: 250px;
	margin: 0 auto;
}
.small-btns{
	width: 150px;
	margin: 0 auto;
}
.mock-view  .btns .btn,
.check-view .btns .btn,
.c-step .small-btns .btn,
.p-step2 .small-btns .btn,
.c-step .btns .btn{
	cursor: pointer;
	display: inline-block;
	width:110px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 2px;
	color: #fff;
	font-size: 14px;
}
.c-step .small-btns .btn,
.p-step2 .small-btns .btn{
	width:70px;
	height: 30px;
	line-height: 30px;
}
.mock-view  .btns .btn-blue,
.check-view .btns .btn-blue,
.c-step .small-btns .btn-blue,
.p-step2 .small-btns .btn-blue,
.c-step .btns .btn-blue{
	background-color: #5093e1;
}
.mock-view  .btns .btn-blue:hover,
.check-view .btns .btn-blue:hover,
.c-step .small-btns .btn-blue:hover,
.p-step2 .small-btns .btn-blue:hover,
.c-step .btns .btn-blue:hover{
	background-color: #3B689B;
}
.mock-view  .btns .btn-grey,
.check-view .btns .btn-grey,
.c-step .small-btns .btn-grey,
.p-step2 .small-btns .btn-grey,
.c-step .btns .btn-grey{
	color: #000;
	background-color: #e1e1e1;
}
.mock-view  .btns .btn-grey:hover,
.check-view .btns .btn-grey:hover,
.c-step .small-btns .btn-grey:hover,
.p-step2 .small-btns .btn-grey,
.c-step .btns .btn-grey:hover{
	background-color: #B8B8B8;
}
.project-page .back-project,
.project-page .add-project{
	padding-left: 10px;
	font-size: 14px;
	height:30px;
	line-height: 30px;
	color: #328AED;
	background-color: #e3effc;
	cursor: pointer;
}
.project-page .project-item{
	padding-left: 10px;
	border-bottom: 1px solid #e1e1e1;
	font-size: 14px;
	line-height: 20px;
}
.projects{
/*	height:200px; 
	overflow-y:auto;*/
}
.projects>ul{
    max-height: 245px;
    overflow-y: auto;
	padding:0;
}
.project-item{
	height: 40px;
}
.project-item>span{
	display: block;
}
.project-item>.desc{
	color: #e1e1e1;
}
.project-page .p-step2{
	display: none;
	height:250px;
}
.project-section{
	font-size: 14px;
	margin-top: 10px;
}
.bottom-right-btns{
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.c-step1{
/*	left: 100%;*/
}
.c-step2{
	display: none;
	left: 100%;
}
.methods{
	display: none;	
	position: absolute;
    margin-left: 105px;
    padding: 0;
    background-color: #fff;
    width: 400px;
    z-index: 2;
    border: 1px solid #e1e1e1;
}
.methods .method-li{
	border-bottom: 1px solid #e1e1e1;
	padding-left: 10px;
	height: 40px;
	line-height: 40px;
}
.project-page .project-item:hover,
.methods .method-li:hover{
	background-color: #C0D9F9;
}
.pre-page,.next-page{
	position: absolute;
	width: 30px;
  	height: 30px;
	top:10px;
	background-image: url(../../images/icons.png);
}
.next-page{
	right:30px;
	background-position: -72px -40px;
}
.pre-page{
	left: 30px;
	background-position: -17px -40px;
}
.api-name-edit, .api-method-edit, .api-project-edit, .api-desc-edit, .api-url-edit, .api-req-deit, .api-rsp-edit{
	display: none;
}
.api-url{
	display: inline-block;
	width: 400px;
	word-break: break-all;
}
.api-project-edit .project{
	position: absolute;
	top: 0px;
	left: 156px;
}
.api-project-edit .icons-down{
	right: 56px;
}
.api-project-edit .project-select{
	margin-left: 155px;
  	margin-top: 18px;
}
.data-deal{
	position: absolute;
	top: 100px;
	right: 100px;
}
.data-deal>div{
    height: 50px;
    line-height: 50px;
    border: 1px solid #e1e1e1;
    margin: 10px;
    text-align: center;
    width: 200px;
    cursor: pointer;
	background-image:-webkit-linear-gradient(top,#FFF,#F2F2F2);
	background-image:-o-linear-gradient(top,#FFF,#F2F2F2);
	background-image:-ms-linear-gradient(top,#FFF,#F2F2F2);
	background-image:linear-gradient(top,#FFF,#F2F2F2);
	background-repeat: repeat-x;
}

.data-layer{
	display: none;
    width: 1200px;
    height: 650px;
    background-color: #fff;
    position: absolute;
    top: 0;
}
.check-view .data-ul{
	margin-top:  10px;
	margin-right:0 !important;
}
.mock-view .data-ul>li,
.check-view .data-ul>li{
	display: inline-block;
	width: 300px;
	border: 1px solid #e1e1e1;
    float: left;
}
.mock-view .data-ul>li>span,
.check-view .data-ul>li>span{
	text-align: center;
    display: block;	
    border: 1px solid #e1e1e1;
    height: 30px;
    line-height: 30px;
}
.data-area{
	width:100%;
	height:500px;
}
.data-area pre{
	margin: 0;
	padding: 0;
	min-height: 100px;
}

.data-area del {
	text-decoration: none;
	color: #b30000;
	background: #fadad7;
}
.data-area ins {
	background: #eaf2c2;
	color: #406619;
	text-decoration: none;
}
.mock-view .data-ul{
	width: 600px;
	margin: 0 auto;
	margin-top: 30px;
    padding: 0;
}
.mock-view .data-ul>li{
	width: 100%;
	float: none;
}
.create-url-btn{
    display: block;
    margin-bottom: 10px;
}
.mock-url{
	display: none;
	height:30px;
	line-height:30px;
	background-color: #E5E6E6;
}
.check-view .btn{
	margin-top: 30px;
}
