/* content---------css*/
.content{
	min-width: 1130px;
	width: 100%;
	height: 346px;
	padding-top: 152px;
	background: url(../../images/head_img.png) center;
}
.content-title{
	font-family: "微软雅黑";
	font-size: 50px;
	color: #edeff5;
	font-weight: bold;
	text-align: center;
}
.content-subtitle{
	font-family: "宋体";
	font-size: 34px;
	color: #edeff5;
	text-align: center;
	margin-top: 30px;
}
.api-count{
	width: 100%;
	height: 64px;
	background: rgba(255,255,255,0.2);
	margin-top: 146px;
	text-align: center;
	color: #ffffff;
}
.api-count-logo{
	display: inline-block;
	width: 24px;
	height: 24px;
	line-height: 60px;
	background: url(../../images/icons.png) -117px -7px;
	margin-right: 20px;
}
.api-count-content{
	display: inline-block;
	font-size: 24px;
	font-weight: bold;
	line-height: 64px;
}


/*footer---------css*/
.indexFoot{
	padding: 85px 0;
	background: white;
}
.foot-content{
	width: 900px;
	height: 250px;
	margin: 0 auto;
}
.foot-content>div{
	float: left;
	width: 300px;
	text-align: center;
	font-weight: "微软雅黑";
}
.foot-content-logo1,.foot-content-logo2,.foot-content-logo3{
	height: 98px;
} 
.foot-content-logo1{
	background: url(../../images/api-logo-j.png) no-repeat 113px 0px;
}
.foot-content-logo2{
	background: url(../../images/api-logo-k.png) no-repeat 102px 0px;
}
.foot-content-logo3{
	background: url(../../images/api-logo-l.png) no-repeat 106px 0px;
}
.foot-content-title{
	font-weight: bold;
	font-size: 13px;
	color: #333333;
	line-height: 45px;
}
.foot-content-subtitle{
	font-size: 12px;
	color: #999999;
	line-height: 20px;
}