/*----------------------header css---------------------------------*/
.indexheader {
	width: 100%;
	background: white;
	position: relative;
	padding: 24px 0;
}
.header-content{
	width: 1130px;
	margin: 0 auto;
}
.indexheader .logo {
	display: inline-block;
	cursor: pointer;
	width: 110px;
	height: 40px;
	float: left;
	background: url(../../images/api_logo.png) no-repeat 0px 9px;
}
.indexheader .seach-nr {
	width: 824px;
	height: 35px;
	float: left;
	line-height: 35px;
	color: #aeaeae;
	border:1px solid #dddddd;
	outline-color: #dddddd;
	background: #fafafa;
	font-weight: normal;
	position: relative;
}
input.seach-nr{
	width: 814px;
	padding-left: 10px;
}
.indexheader .search {
	display: inline-block;
	width: 53px;
	height: 40px;
	float: left;
	border-right: 1px solid #dddddd;
	background: url(../../images/seach-logo.png) no-repeat;
	cursor: pointer;
}
.indexheader .new-button {
	display: inline-block;
	width: 110px;
	height: 40px;
	float: left;
	border: none;
	background: #5093e1;
	color:white;
	border-radius: 2px;
	margin-left: 20px;
}
.indexheader:after {
	content: " ";
	display: block;
	clear: both;
}
.seachlist-nr{
	position: absolute;
	width: 879px;
	max-height: 400px;
	overflow-y: auto;  
	top: 39px;
	padding: 0;
	background:rgba(240,238,238,0.9);
}

.seachlist{
	margin: 0;
	padding: 5px 0;
	padding-left: 40px;
	cursor: pointer;
}
.seachlist:hover{
	background: rgba(240,238,238,1);
}
.seachlist div{
	line-height: 20px;
	font-family: "Arial";
	font-size: 12px;
}
.seachlist-nr-title{
	color: #333333;
}
.seachlist-nr-subtitle{
	color: #999999;
}
.project{
	display: inline-block;
	float: left;
	height: 38px;
	line-height: 40px;
	border:1px solid #dddddd;
	border-right: none;
	padding: 0 8px;
	font-size: 14px;
	color: #aeaeae;
}
.bordernone{
	border: none;
}