html{
   font-family: "arial","黑体",sans-serif;
}
html,
body,
.content{
	height: 100%;
}
body{
	/*width:1000px;*/
	margin: 0 auto;
	/*overflow: hidden;*/
	/*background:url("../../images/background.png");*/
}
.nav-list{
	margin: 0;
}
.header-full-width{
    z-index: 2;
    width: 100%;
    position: fixed;
    top:0;
	background-color: #2b292a;
}
.header{
    z-index: 2;
    width: 1000px;
    margin: 0 auto;
	background-color: #2b292a;
}

.header1:after{
	content: " ";
	position: absolute;
	top:72px;
	width: 0;
	height:0;
	/*border-top:50px solid #2b292a;
	border-right: 250px solid transparent;*/
	border-left: 250px solid #2b292a;
	border-bottom: 50px solid transparent;
}
.detail-nav>li{
	height: 72px;
	line-height: 72px;
}
.detail-nav>li,
.detail-nav>li span{
	vertical-align: middle;
	display: inline-block;
}
.mincatalog>span{
	width: 30px;
	height: 30px;
	background: url("../../images/icons.png") no-repeat 0 -57px;
}
.baoban-logo{
	    margin-left: 30px;
}
.baoban-logo>span{
	width: 159px;
	height: 48px;
	background: url("../../images/icons.png") no-repeat 0 -7px;
}
.baoban-info{
	margin-left: 60px;
	color:#fff;
}
.baoban-info .location{

}
.baoban-info .location:before{
	content: " ";
	display: inline-block;
	width: 20px;
	height:20px;
	background: url("../../images/icons.png") no-repeat -44px -59px;
}
.baoban-info .enroll{
	display: inline-block;
	margin-left: 10px;
}
.baoban-info .enroll>span{
	margin-right: 30px;
}
.baoban-info .enroll>span:before{
	content: " ";
	display: inline-block;
	width: 20px;
	height:27px;
	margin-top: 29px;
	background: url("../../images/icons.png") no-repeat -74px -59px;
}
.baoban-info .enroll em{
    top: 7px;
    position: absolute;
}
.baoban-center{
	float: right;
	color: #fff;
	margin: 0 20px;
}
.baoban-center span{
	margin: 0 10px;
	position:relative;
}
.baoban-center span:after{
    content: " ";
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 8px;
    left: 26px;
    top: 20px;
    margin-top: 29px;
    background: url("../../images/icons.png") no-repeat -101px -69px;
}
.baoban-footer{
	height: 80px;
	width: 1000px;
	margin: 0 auto;
	background-color: #0ba296;
	position: relative;
	color:#fff;
	font-size: 12px;
}
.baoban-footer:after{
	content: " ";
	position: absolute;
	top:-30px;
	width: 0;
	height:0;
	border-left: 700px solid transparent;
	border-right: 300px solid transparent;
	border-bottom: 30px solid #0ba296;
}
.baoban-footer li{
    display: inherit;
    width: 317px;	  
    height: 50px;
    display: inline-block;
    position: relative;
}
.baoban-footer li>div{
	position: absolute;
}
.baoban-footer .div1{
	top:17px;
}
.baoban-footer  .footer-txt{
	display: block;
}
.baoban-footer  .footer-txt ~ span{
	display: inline-block;
	margin: 0 100px;
}
.baoban-footer  .shuline1,
.baoban-footer  .shuline2{
	display: inline-block;
    width: 1px;
    height: 70px;
    background: url("../../images/icons.png") no-repeat -48px -128px;
}
.baoban-footer  .shuline2{
	margin-left: 300px;
}
.baoban-footer  .shuline ~ div{
	display: inline-block;
	margin: 0 20px;
	 margin-top: -8px;
}
.baoban-footer  .phone-icon{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 30px;
	background: url("../../images/icons.png") no-repeat -3px -90px;
}
.baoban-footer  .phone{    
	position: absolute;
    width: 300px;
    top: 10px;
}
.baoban-footer  .phone-icon ~ span{
	font-size: 30px;
}
.baoban-footer  .weixin-icon{
	display: inline-block;
	width: 60px;
	height: 60px;
	background-image: url("../../images/weixin.png");
	background-size:cover;
}
.baoban-footer  .weixin-icon:after{
	content: " 扫码关注微信";
	width: 80px;
	top:65px;
	left: -4px;
	position: absolute;
}
.baoban-footer  .div3{
	width: 300px;
}
.baoban-footer  .app-download{
	display: inline-block;
	margin: 0 10px;
	color:#000;
}
.baoban-footer  .app-download .phone-os{
	width: 150px;
	height: 30px;
	background-color: #e1e1e1;
	margin-bottom: 4px;
	cursor: pointer;
}
.baoban-footer  .app-download .iphone-icon{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 22px;
    background: url("../../images/icons.png") no-repeat -8px -130px
}
.baoban-footer  .app-download .android-icon{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 22px;
    background: url("../../images/icons.png") no-repeat -8px -160px
}
.baoban-footer  .app-download .android-icon ~ span,
.baoban-footer  .app-download .iphone-icon ~ span{
	position: absolute;
	margin-top: 9px;
}
.baoban-footer  .app-download:after{
	content: " 即将上线 敬请期待";
	width: 120px;
	top:65px;
	left: 100px;
	position: absolute;
	color:#fff;
}
.baoban-content{
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
	
}
.welcome-content{
	/*width: 1000px;*/
	width: 100%;
	margin: 0 auto;
	height:100%;
}
.baoban-welcome{
	margin-top: 72px;
}
.baoban-welcome,.cont-item{
	height: 100%;
	position: relative;
}
.baoban-welcome>.cont-item{
	background:url("../../images/background.png") repeat;
	background-color: #000;
	background-size: cover;
	background-position: 50% 50%;
}
.baoban-welcome .news-item{
	background-image:url("../../images/background-2.png");
	position: relative;
}
.news-item .cont-footer{   
	background: #0ba296;
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: 4;
}
.baoban-seach{
	width: 730px;
	margin: 50px auto 0 auto;
}
.baoban-seach>div{
	display: inline-block;
}
.baoban-seach .seach-div{
	height: 54px;
	line-height: 54px;
	border-radius: 4px;
	background: #fff;
	border: 1px solid #e1e1e1;
}
.baoban-seach .seach-div .seach-input{
	height: 30px;
    border: 0px;
    outline: none;
    width: 450px;
    float: right;
    margin-top: 12px;
    margin-left: 10px;
}
.baoban-seach .seach-icon{
    display: inline-block;
    width: 25px;
    height: 20px;
    margin-top: 18px;
    background: url("../../images/icons.png") no-repeat -133px -62px;
}
.baoban-seach .seach-buttons{
	float: right;
}
.search-zone{
	width: 100%;
	position: absolute;
	bottom: 35px;
}
.baoban-seach .immediate-baoban-btn{
    display: inline-block;
    width: 106px;
    height: 48px;
    background: url("../../images/icons.png") no-repeat -65px -105px;
    cursor: pointer;
}
.baoban-seach .map-find-btn{
    display: inline-block;
    width: 106px;
    height: 48px;
    background: url("../../images/icons.png") no-repeat -65px -156px;
    cursor: pointer;
}
.pics span{
	display: inline-block;
    width: 100%;
    height: 813px;
    background: url("../../images/background-1.png");
    background-size:cover;
}
.news-list,
.eight-grid{
	/*padding-top: 200px !important;*/
	height: 80%;
}
.news-list,
.eight-grid,
.news-list>div>div,
.eight-grid > div>div{
	width:1000px;
	margin: 0 auto;
	padding: 10px 20px;
}
.news-list{
	position: absolute;
	width: 100%
}
.news-list>div,
.eight-grid > div{
    margin-top: 10%;
}

.eight-grid > div>div>div{
	border: 1px solid #fff;
	height:200px;
	width: 200px;
	margin: 5px 15px;
	padding:1px;
	background-color: #0ba296;
	display: inline-block;
}
@media only screen and (max-width: 1400px) {
	.news-list>div,
	.eight-grid > div{
		margin-top: 3%;
	}
}

.news-list >div{
	height: 100%;
}
.news-list .newslist-item{
	height:90px;
	margin: 10px auto;
	background: #fff;
	/*opacity: 0.7;*/
	width: 50%;
	padding: 0;
}
.news-list .newslist-item>span{
	display: inline-block;
	width: 90px;
	height: 90px;
	float: left;
}
.news-list .newslist-item>span>em{
    font-size: 18px;
    margin-top: 20px;
    display: inline-block;	
}
.news-list .newslist-item .blue{
    background: url("../../images/icons.png") no-repeat -172px -6px;
}
.news-list .newslist-item .red{
    background: url("../../images/icons.png") no-repeat -172px -98px;
}
.news-list .newslist-item .news-div{
	height: 90px;
	line-height: 45px;
}
.news-list .newslist-item .news-title{
	font-size: 28px;
}

/*-----------------switchPage--------start-------*/
#pages{
	position:fixed;
	right: 10px;
	top: 50%;
	list-style: none;
}
#pages li{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #fff;
	margin: 0 0 10px 5px;
}
#pages li.active{
	width: 14px;
	height: 14px;
	border: 2px solid #FFFE00;
	background: none;
	margin-left: 0;
}
/*-----------------switchPage--------end-------*/
.menu{
	height: 260px;
	width: 140px;
	position: absolute;
	top:10px;
	left: 20px;

}
.menu .shade-div{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #000;
	opacity: 0.7;
	color: #fff;
	top:0;
	z-index: 1;
}
.menu .menu-close{
	display: inline-block;
	width: 20px;
	height: 20px;
    z-index: 2;
    position: absolute;
    right: 10px;
	background: url("../../images/icons.png") no-repeat -7px -186px;
}
.menu>ul{
	position: absolute;
	margin-top: 20px;
	z-index: 2;
}
.menu>ul>li{
	width: 100%;
	height: 40px;
	line-height: 40px;
}
.menu>ul .menu-btn{
	display: inline-block;
	height: 28px;
	width: 80px;
    border-radius: 3px;
    background: #0ba296;
    line-height: 28px;
    text-align: center;
    margin: 0 32px;
    font-size: 14px;
}
.baoban-register-login{
	margin-top: 72px;
    position: relative;
}
.baoban-register-login .cont-item{
	background: url("../../images/background-3.png") no-repeat;
	background-size:100% 100%;
}
.baoban-register-login .cont-footer{
    background: #0ba296;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 4;
}
.baoban-register-login .register-login-zone{
    width: 400px;
    height: 450px;
    margin:auto;
    position: relative;
}
.baoban-register-login .register-login-zone>div{
	width: 400px;
	height: 300px;
	bottom: 0;
	border: 10px solid #0ba296;
	background: #fff;
	position: absolute;
}
.baoban-register-login .register-login-zone .title{
	text-align: center;
	display: inline-block;
	width: 100%;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	border-bottom: 3px solid #0ba296;
}
.baoban-register-login .register-login-zone .info{
	margin-top: 20px;
}
.baoban-register-login .register-login-zone .info>div{
	margin: 10px;
}
.baoban-register-login .register-login-zone .info>div span{
	display: inline-block;
	width: 100px;
}
.baoban-register-login .register-login-zone .info input{
	width: 190px
}
.baoban-register-login .register-login-zone .info .getcode{
	display: inline-block;
	width: 64px;
	font-size: 12px;
	background:  #0ba296;
	border-radius: 2px;
	color:#fff;
}
.baoban-register-login .register-login-zone .agree{
    display: inline-block;
    width: 153px;
    height: 45px;
    background: url("../../images/icons.png") no-repeat -208px -226px;
}
.baoban-register-login .register-login-zone .login-zone{
	text-align:center;
	margin:35px 0;
}
.baoban-register-login .register-login-zone .login-zone .login-btn{
	display: inline-block;
	width: 64px;
	height: 30px;
	line-height: 30px;
	color:#fff;
	background:  #0ba296;
	border-radius: 2px;
	cursor: pointer;
}
.baoban-register-login .register-login-zone .login-zone a{
	font-size: 12px;
}